@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(145deg, #2b2b2b, #333333);
    font-family: 'Jost', sans-serif;
    color: white;
}

._404 {
    overflow-y: hidden;
    font-size: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

._404 > button {
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    border: 2px solid rgb(39, 194, 39);
    border-radius: 10px;
    font-size: 20px;
    color: whitesmoke;
    background: transparent;
}

._404 > button:hover{
    background: rgb(39, 194, 39);
}

.login {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-button {
    border: 2px solid rgb(51, 179, 51);
    border-radius: 30px;
    background: linear-gradient(145deg, #2b2b2b, #333333);
    padding : 20px;
    font-size : 20px;
    font-weight: 400;
}

.login-button:hover{   
    background: rgb(51, 179, 51);
}

.login-button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

@media(max-width: 800px){
    body{
        width: 100vw;
        height: 100vh;
    }
}